<% title "Contact" %>

<div id="contact">
  <h1>Contact Project Speak Easy</h1>
  <p>
    Feel free to email us: 
    andrea.m.holloway<span class="noshow">|&hearts;|</span>@gmai<span class="noshow">|&hearts;|</span>l<span class="noshow">|&hearts;|</span>.com<span class="noshow">|&hearts;|</span>
  </p>
</div> <!-- contact -->
