<div id="contact">
  <h1>Contact Project Speak Easy</h1>
  <p>
    Feel free to email us: 
    admin<span class="noshow">|&hearts;|</span>@proj<span class="noshow">|&hearts;|</span>ect<span class="noshow">|&hearts;|</span>spea<span class="noshow">|&hearts;|</span>keasy<span class="noshow">|&hearts;|</span>
  </p>
</div> <!-- contact -->
