<% title "Home" %>

<h1>English is a Global Language</h1>
<div>
  One of the most important skills successful professionals, academics, entrepreneurs, and politicians posses is the ability to communicate effectively. English is a global language and it’s proliferating rapidly; however, the ability to productively speak the language, and thus communicate effectively, is not keeping pace. An implicit assumption to effective communication is that your message can be easily understood and convincingly conveyed. This is a worthy goal, but unfortunately it’s rare. With a flattening world, more and more people are experiencing the frustration of ineffective communication (e.g., outsourced tech support or a non-native Teaching Assistant).
</div>
<br/>
<div>
  At Project Speak Easy, we aim to provide English language pronunciation and accent modification services to non-native English speakers who are hindered by a current lack of understandability or an unorthodox communication style. What differentiates our approach to this industry is not only the flexibility of our envisioned eLearning delivery format, but the personalized learning plans and automated technology suite that will help our solution scale. Using proven linguistic, educational, and intercultural communication techniques, we can provide customized learning solutions that increase communication effectiveness so our clients can reach their social, economic, and professional goals.
</div>
