<% title "How it Works" %>

<h1>How Project Speak Easy Works</h1>
<div>
  <div>
    We will offer a broad range of services, but the basic service starts with three questions: 
    <ol>
      <li>What is your native language?</li>
      <li>Where are you from?</li>
      <li>Why are you interested in communication services?</li>
    </ol>
  </div>

  <br/>

  <div>
    From here, we create a customized learning plan consisting of modules necessary for improvement. These modules are created by our linguistics and education expert, Andrea. Modules contain:
    <ul>
      <li>written lessons,</li>
      <li>instructional videos, and</li>
      <li> practice activities </li>
    </ul>
  </div>

  <br/>

  <div>
    In addition to modules, subscribers will have access to forums where they can ask questions, discuss the modules, and find study buddies.
  </div>

  <br/>

  <div>
    We will have extensions available including automated jargon packages, mobile content delivery, voice recognition, one-on-one training (in person or Skype) and personalized feedback.
  </div>
</div>
