<h1>The Problem</h1>
<div>
  <div>
    We want to help people communicate more effectively. People who cannot communicate effectively struggle to reach their social, economic, and professional goals. This is mostly due to the subconscious biases and preferences of the listeners. During a conversation the listener's brain must decode the meaning of the speaker’s words. When the listener is unfamiliar with what he hears, this decoding process takes significantly more time and energy. Unfamiliar speech can come in many forms, but is most commonly heard through accented speech. Because people seek the path of least resistance they may not listen as closely, and the original intent of accented communication is often lost.
  </div>

  <br/>

  <div>
    There are at least 199 million English-as-a-second language (ESL) individuals in the world, with high-end estimates reaching two billion. Over half of these people work, live, or interact with native English speakers. Many of these second language speakers’ only problem with effectively communicating in English lies in their inability to properly pronounce English words and phrases.
  </div>

  <br/>

  <div>
    Our eLearning management system is targeted at the millions of individuals with pronunciation problems. More specifically, we can provide services to the busy professional who needs the structure of a customized learning plan but also the flexibility of learning on their own schedule. Most ESL sites are generic: they cater to the standard needs of the standard English language learner with little regard for what their client does or does not need. Our site will offer a customized plan targeted to specific needs and desires of each client determined by a pre-assessment of knowledge and skills. Studies show that curriculum based on the pre-assessment of knowledge and skills is a major component in a learner’s ability to acquire and use new knowledge. Our pre-assessment covers knowledge and skills, as well their reason for seeking help (e.g., the client is starting a new job, they are interviewing, they are having trouble being understood). After the student subscribes to Project Speak Easy and begins their customized course, we can also bolster their learning with structured and unstructured feedback. With the combination of a customized learning plan, meaningful feedback, the flexibility of self-study, and mobile content delivery, our clients will be able to reach their communication goals.
  </div>
</div>
