<% title "Our Approach" %>

<h1>Our Approach</h1>
<div>
  <div>
    We will develop a Ruby on Rails based eLearning management system with self-paced modules to supplement face-to-face (either in-person, or via online video chat) language services. This will include a customized client curriculum, best-in-class practice materials, and periodic assessments to evaluate progress. In addition, this service will also be delivered to mobile platforms to increase the adoption of our services for those who do not have a computer at home or are traveling. Currently, no competing services offer a mobile delivery solution. We will enable our clients to upload audio/video files to a low-cost content delivery network and download our practice audio files, offering a media-rich learning environment.
  </div>

  <br/>

  <div>
    After the beta launch at the end of the program, we will expand our technical offering to include more intelligent automated functionality to reduce the human-in-the-loop footprint. We will create a voice recognition system that can accurately determine if an individual is pronouncing words correctly. Our backgrounds in algorithms and signal/image processing will allow us to deliver this technical differentiator to outpace competing services. This will also allow us to provide brick and mortar quality at internet scale, which will allow us to hit our lower pricepoint. Because practice is the most important factor in overall success, we will also include social media hooks for peer supported learning to keep clients engaged in the learning process on a daily basis.
  </div>

  <br/>

  <div>
    English is only the start: in the future, we believe our technology could easily be expanded to bridge any language to any other language.
  </div>

  <br/>

  <div>
    Plus, we will go viral ;-) 
  </div>
</div>
